<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.trippals.attraction.dao.AttractionDao">

    <!--  여행 경로에 속한 여행지 조회  -->
    <select id="findByRouteSeq" resultType="AttractionData">
        select  ai.content_id       content_id,
                content_type_id,
                title,
                overview,
                addr1               addr,
                first_image         image,
                latitude,
                longitude

        from    attraction_info ai, attraction_description ad, route_attraction ra

        where   ai.content_id = ad.content_id
          and   ai.content_id = ra.attraction_seq
          and   ra.route_seq = #{ routeSeq };
    </select>

    <!--  여행지 키워드로 검색  -->
    <select id="findByKeyword" parameterType="AttractionKeywordSelect"
            resultType="AttractionData">
        select  ai.content_id       content_id,
                content_type_id,
                title,
                overview,
                addr1               addr,
                first_image         image,
                latitude,
                longitude

        from    attraction_info ai, attraction_description ad

        where   ai.content_id = ad.content_id
          and   ai.title like CONCAT('%', #{ keyword }, '%')

        limit   #{ offset }, #{ limit }
    </select>

    <!--  여행지 시도 코드와 키워드로 검색  -->
    <select id="findBySidoAndKeyword" parameterType="AttractionSidoAndKeywordSelect"
            resultType="AttractionData">
        select  ai.content_id       content_id,
                content_type_id,
                title,
                overview,
                addr1               addr,
                first_image         image,
                latitude,
                longitude

        from    attraction_info ai, attraction_description ad

        where   ai.content_id = ad.content_id
          and   ai.sido_code = #{ sidocode }
          and   ai.title like CONCAT('%', #{ keyword }, '%')

        limit   #{ offset }, #{ limit }
    </select>

    <!--  여행지 구군 코드와 키워드로 검색  -->
    <select id="findByGugunAndKeyword" parameterType="AttractionGugunAndKeywordSelect"
            resultType="AttractionData">
        select  ai.content_id       content_id,
                content_type_id,
                title,
                overview,
                addr1               addr,
                first_image         image,
                latitude,
                longitude

        from    attraction_info ai, attraction_description ad

        where   ai.content_id = ad.content_id
          and   ai.sido_code = #{ sidocode }
          and   ai.gugun_code = #{ guguncode }
          and   ai.title like CONCAT('%', #{ keyword }, '%')

        limit   #{ offset }, #{ limit };
    </select>

    <!--  여행지 키워드로 검색 개수 조회  -->
    <select id="countByKeyword" parameterType="AttractionKeywordSelect"
            resultType="int">
        select  count(ai.content_id)

        from    attraction_info ai, attraction_description ad

        where   ai.content_id = ad.content_id
          and   ai.title like CONCAT('%', #{ keyword }, '%')
    </select>

    <!--  여행지 시도 코드와 키워드로 검색 개수 조회  -->
    <select id="countBySidoAndKeyword" parameterType="AttractionSidoAndKeywordSelect"
            resultType="int">
        select  count(ai.content_id)

        from    attraction_info ai, attraction_description ad

        where   ai.content_id = ad.content_id
          and   ai.sido_code = #{ sidocode }
          and   ai.title like CONCAT('%', #{ keyword }, '%')
    </select>

    <!--  여행지 구군 코드와 키워드로 검색 개수 조회 -->
    <select id="countByGugunAndKeyword" parameterType="AttractionGugunAndKeywordSelect"
            resultType="int">
        select  count(ai.content_id)

        from    attraction_info ai, attraction_description ad

        where   ai.content_id = ad.content_id
          and   ai.sido_code = #{ sidocode }
          and   ai.gugun_code = #{ guguncode }
          and   ai.title like CONCAT('%', #{ keyword }, '%')
    </select>

    <!--  축제 구군 코드로 조회  -->
    <select id="findNearbyAttractionsByContentType" parameterType="NearByAttractionContentTypeSelect"
            resultType="AttractionData">
        select  ai.content_id       content_id,
                content_type_id,
                title,
                overview,
                addr1               addr,
                first_image         image,
                latitude,
                longitude

        from    attraction_info ai, attraction_description ad,
                (
                    select  distinct sido_code, gugun_code
                    from  route_attraction ra, attraction_info ai2
                    where  ra.route_seq = #{ routeSeq }
                      and  ra.attraction_seq = ai2.content_id
                ) area

        where   ai.content_id = ad.content_id
          and   ai.sido_code = area.sido_code
          and   ai.gugun_code = area.gugun_code
          and   ai.content_type_id = #{ contentType }

        limit   #{ offset }, #{ limit };
    </select>

</mapper>