<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.trippals.board.dao.BoardDao">
    <!--  BoardParams(limit,offset,SearchWord)로 Select  -->
    <select id="findBoardData" parameterType="BoardParams" resultType="BoardData">
        select  b.seq, b.user_seq, b.title, b.content, b.reg_dt, b.read_count, b.is_draft, b.route_seq
        from board b, users u
        where b.user_seq = u.seq and is_draft=1
        order by b.reg_dt desc
            limit #{limit} offset #{offset}
    </select>

    <!--  Board 생성  -->
    <insert id="insertBoard" parameterType="BoardInser">
        insert into board(user_seq, title, content, route_seq)
        values ( #{user_seq}, #{title}, #{content}, #{route_seq} );
        insert into board ( user_seq, title, content, reg_dt )
        values ( #{userSeq}, #{title}, #{content}, now())
    </insert>

    <!--  Board 수정  -->
    <update id="boardUpdate" parameterType="com.mycom.myboard.board.dto.BoardDto">
        update board
        set title = #{title},
            content   = #{content}
        where board_id = #{boardId} and user_seq=#{user_seq};
    </update>

    <!--  Board 삭제  -->
    <delete id="deleteBoardBySeq">
        delete from route
        where seq = #{board_seq} and user_seq=#{user_seq};
    </delete>
</mapper>