<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.trippals.board.dao.BookmarkDao">

    <select id="findBookmarkByUserSeq" parameterType="int" resultType="com.ssafy.trippals.board.dto.BoardDto">
        select b.seq, b.user_seq, b.title, b.content, b.reg_dt, b.read_count, b.is_draft, b.route_seq
        from board b
                 inner join board_bookmark bm on b.seq = bm.board_seq
        where bm.user_seq = #{userSeq}
    </select>

    <!--  Board 생성  -->
    <insert id="insertBookmark" parameterType="BoardUserVO" useGeneratedKeys="true" keyProperty="seq">
        insert into board_bookmark(user_seq, board_seq)
        values ( #{userSeq}, #{boardSeq});
    </insert>

    <!--  Board 수정  -->
    <update id="updateBoard" parameterType="BoardDto">
        update board
        set title = #{title},
            content   = #{content}
        where seq = #{seq} and user_seq=#{userSeq};
    </update>

    <!--  Board 삭제  -->
    <delete id="deleteBookmark">
        delete from board_bookmark
        where seq = #{boardSeq} and user_seq=#{userSeq};
    </delete>

</mapper>