<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.trippals.board.dao.BookmarkDao">

    <select id="findBookmarkByUserSeq" parameterType="BoardParamDto" resultType="com.ssafy.trippals.board.dto.BoardDto">
        select b.seq, b.user_seq, b.title, b.content, b.reg_dt, b.read_count, b.is_draft, b.route_seq,u.name writer,r.thumbnail
        from board b
        inner join users u on b.user_seq = u.seq
        inner join board_bookmark bm on b.seq = bm.board_seq
        LEFT JOIN route r ON b.route_seq = r.seq
        where bm.user_seq = #{userSeq}
        limit #{limit} offset #{offset}
    </select>

    <select id="checkBookmarkByUserSeq" parameterType="BoardUserVO" resultType="int">
        SELECT EXISTS (
            SELECT 1
            FROM board_bookmark
            WHERE user_seq = #{userSeq} AND board_seq = #{boardSeq}
        ) AS isPresent;
    </select>

    <select id="countBookmark" parameterType="BoardParamDto" resultType="int">
        SELECT COUNT(*) FROM board_bookmark where user_seq=#{userSeq}
    </select>

    <!--  Board 생성  -->
<!--    useGeneratedKeys="true" keyProperty="seq"-->
    <insert id="insertBookmark" parameterType="BoardUserVO" >
        INSERT INTO board_bookmark (user_seq, board_seq)
        SELECT #{userSeq}, #{boardSeq}
        WHERE NOT EXISTS (
            SELECT 1
            FROM board_bookmark
            WHERE user_seq = #{userSeq} AND board_seq = #{boardSeq}
            );
    </insert>


    <!--  Board 삭제  -->
    <delete id="deleteBookmark" parameterType="BoardUserVO">
        delete from board_bookmark
        where seq = #{boardSeq} and user_seq=#{userSeq};
    </delete>

</mapper>