<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.trippals.route.dao.RouteEditorDao">
    <!--  여행 경로에 초대 생성  -->
    <insert id="insertRouteEditorRequest"
            parameterType="routeEditorRequestDto"
            useGeneratedKeys="true" keyProperty="seq">
        insert into route_editors_request(user_seq, route_seq)
        values (#{userSeq}, #{routeSeq});
    </insert>

    <!--  여행 경로 초대 삭제  -->
    <delete id="deleteRouteEditorRequest">
        delete from route_editors_request
        where seq = #{seq};
    </delete>

    <!--  받은 초대 조회  -->
    <select id="findRequestByUserSeq" resultType="com.ssafy.trippals.route.dto.RouteEditorRequestDto">
        select  rer.seq, rer.user_seq, rer.route_seq, r.name route_name
        from    route_editors_request rer, route r
        where   rer.user_seq = #{userSeq}
        and     rer.route_seq = r.seq;
    </select>

    <!--  공유 받은 여행 경로 조회 -->
    <select id="findRouteByEditorSeq" resultType="com.ssafy.trippals.route.dto.RouteDto">
        select  r.seq, owner, name, overview, thumbnail, start_date
        from    route r, route_editors re
        where   r.seq = re.route_seq
        and     re.editor = #{userSeq}
        limit   #{offset}, #{limit};
    </select>

    <!--  공유 받은 여행 경로 개수  -->
    <select id="countRouteByEditorSeq" resultType="java.lang.Integer">
        select  count(r.seq)
        from    route r, route_editors re
        where   r.seq = re.route_seq
          and     re.editor = #{userSeq}
    </select>

    <!--  여행 경로의 편집자 조회  -->
    <select id="findEditorByRouteSeq" resultType="com.ssafy.trippals.user.dto.UserDto">
        select  u.seq, name, email, profile_image, register_date
        from    users u, route_editors re
        where   u.seq = re.editor
        and     re.route_seq = #{routeSeq};
    </select>

    <select id="findRequestByUserSeqAndRouteSeq"
            resultType="com.ssafy.trippals.route.dto.RouteEditorRequestDto">
        select  rer.seq, rer.user_seq, rer.route_seq, r.route_name
        from    route_editors_request rer, route r
        where   rer.user_seq = #{userSeq}
          and     r.seq = #{routeSeq}
    </select>

    <!--  여행 경로에 편집자 추가  -->
    <insert id="insertRouteEditor"
            parameterType="routeEditorDto"
            useGeneratedKeys="true" keyColumn="seq">
        insert into route_editors(editor, route_seq)
        values (#{editor}, #{routeSeq});
    </insert>

    <!--  여행 경로에서 편집자 삭제  -->
    <delete id="deleteRouteEditor">
        delete from route_editors
        where   editor = #{editor}
        and     route_seq = #{routeSeq};
    </delete>
</mapper>
