<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.trippals.user.dao.UserDao">

    <!--  사용자를 email로 조회  -->
    <select id="findUserDataByEmail"
            resultType="UserDto">
        select  *
        from    users
        where   email = #{email};
    </select>

    <!--  사용자를 키워드로 조회  -->
    <select id="findUserDataByKeyword"
            resultType="UserDto">
        select  *
        from    users
        where   email like CONCAT(#{keyword}, '%')
                or  name like CONCAT(#{keyword}, '%');
    </select>

    <!--  사용자 생성  -->
    <insert id="insertUser" parameterType="UserDto"
            useGeneratedKeys="true" keyProperty="seq">
        insert  into users (name, password, email, register_date)
        values  (#{name}, #{password}, #{email}, now());
    </insert>

    <!--  사용자 업데이트  -->
    <update id="updateUser" parameterType="UserDto">
        update  users
           set  name = #{name},
                profile_image = #{profileImage}
         where  seq = #{seq};
    </update>

    <!-- 사용자 비밀번호 업데이트 -->
    <update id="updateUserPassword">
        update  users
           set  password = #{password}
         where  email = #{email};
    </update>

    <!--  사용자 삭제  -->
    <delete id="deleteUser">
        delete
          from  users
         where  seq = #{seq};
    </delete>
</mapper>